html, body {
  background-color: #222831 !important;
  color: beige !important;
  overflow-x: hidden;
}

.font-pacifico {
  font-family: 'Pacifico', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-tw {
  font-family: 'Trade Winds', cursive;
}

.card-bg {
  background-color: #393E46 !important;
  color: whitesmoke !important;
  font-size: inherit;
  font-weight: 100;
}

.btn-design {
  margin-top: 25px;
  height: 3rem;
  color: beige;
  background-color: #252a34;
  border: 0px;
  border-radius: 2px;
  box-shadow: 1.5px 1.5px 8px 2px #191B1D;
}

.btn-design:hover {
  color: #ffb6b9;
  background-color: #28314938;
}

input, select {
  background-color: #252a34 !important;
  border-color: #191B1D !important;
  color: rgba(245, 245, 245, 0.800) !important;
}

::placeholder {
  color: rgba(245, 245, 220, 0.200) !important;
  font-weight: 400;
}

.fullHeight {
  min-height: 100vh;
}

nav {
  background-color: #393e46 !important;
}

.textBox {
  border-radius: 2px;
  box-shadow: 1.5px 1.5px 8px 2px #191B1D 
}

.translater {
  float: right;
  cursor: default;
  font-size: 1rem;
  opacity: 0.6;
}

#fr, #en {
  cursor: pointer;
}

#fr:hover, #en:hover {
  opacity: 1;
}

